name: Deploy dauth Web

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm

      - name: Create .env
        run: |
          echo "${{ secrets.ENV }}" > .env

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Prepare server directory
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          script: |
            docker volume create dauth || true
            sudo chown -R $USER:$USER /var/lib/docker/volumes/dodam/_data/dgit;

      - name: Setup SSH for rsync
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.DEPLOY_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan ${{ secrets.DEPLOY_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to Docker volume
        run: |
          rsync -avz --delete \
            --rsync-path="sudo rsync" \
            -e "ssh -o StrictHostKeyChecking=no" \
            ./dist/ \
            ${{ secrets.DEPLOY_USER }}@${{ secrets.DEPLOY_HOST }}:/var/lib/docker/volumes/dodam/_data/dgit;